.App {
    text-align: center;
  }
  
  .Calendario {
    margin-top: -200px;
    background-color: #282c34;
    min-height: 151.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }

  #Cal{
      margin-top: 100px;
  }

  #he{
      margin-bottom: 50px;
  }