.App {
    text-align: center;
  }
  
  .Baja-Client {
    background-color: rgb(212, 212, 212);
    height: 100%;
    width: 100%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-style: oblique;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .Body{
    margin-top: 60px;
    text-align: center;
    color: white;
    border-radius: 5px;
    width: 1800px;
    margin-left: 8px;
  }

  .containerB{
    margin-top: -45px;
    margin-left: 90px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;
    height: 750px;
    width: 1688px;
  }
  
  .Baja label{
    margin-top: 30px;    
  }
  

  
  .h{
    margin-bottom: 40px;
  }

 .Baja-Client .btn-group{
   margin-top: -40px;
 }

  .Descanso{
    margin-left: 0px;
  }

  #hora{
      size: 100px;
      min-width: 150px;
  }

  .Body select{
    text-align: center;
    min-width: 320px;

  }

  .Body input{
 
    text-align: center;
  }

  .modal-container{
    text-align: center;
    align-items: center;
  }

  .modal-c{
    text-align: center;
    align-items: center;
  }

  .bajaH{
    background-color: black;
    height: 260px;
    width: 1800px;
    margin-left: 78px;
    color: white;
    margin-top: -120px;
  }



  .bch{
    text-align: center;
    margin-top: 150px;
  }


  .dive{
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background:grey;
  }

  .oneB{
    position: absolute;
    margin-top: 100px;
    text-align: center;
    margin-left: 700px;
  }
  
  #peopleBI{
    margin-right: 15px;
  }

  #fechaBInp{
    width: 200px;
    margin-left: 45px;
  }

  #selB{
    width: 200px;
  }

  .adminSidee{
    margin-top: -955px;
    margin-left: -1900px;
    position: absolute;
  }

  /* .forky{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .face{
    width: 300px;
    height: 300px;
    background: #f0f0f0;
    position: absolute;
    border-radius: 65% 30% 65% 28%;
    transform: rotate(-45deg);
    top: -135px;
    left: -147px;
  }

  .face-mask1 {
  width: 300px;
  height: 60px;
  background: rgb(255, 255, 255);
  position: absolute;
  top: -160px;
  left: -147px;
}

.fork1, .fork4 {
  width: 193px;
  height: 189px;
  background: #f0f0f0;
  border-radius: 100% 0% 97% 3% / 91% 0% 99% 3%;
  transform: rotate(-44deg);
  position: absolute;
  top: -121px;
  left: -159px;
}
.fork2, .fork3 {
  width: 122px;
  height: 77px;
  background: #f0f0f0;
  border-radius: 100% 0% 86% 14% / 98% 0% 100% 2%;
  transform: rotate(128deg);
  position: absolute;
  top: -141px;
  left: -88px;
}
.fork3 {
  left: -34px;
  transform: rotate(50deg) rotateY(180deg);
}
.fork4 {
  left: -37px;
  transform: rotate(45deg) rotateY(180deg);
} */