.App {
    text-align: center;
  }
  
  .Calendario {
    background-color: rgb(212,212,212);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  .containerCal{
    margin-top: 15px;
    margin-left: 15%;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 70%;
    height: 70%;

  }
  .App-link {
    color: #61dafb;
  }

  .Cal{
      margin-top: 50px;
      margin-left: 27%;
      border-color: lawngreen;
      
  }

  #he{
      text-align: center;
  }

  #txtcal{
    color: white;
  }


  .Calendario .Cal_Container_root{
    margin-top: 100px;
   
  }

  .modal-container{
    text-align: center;
    align-items: center;
  }

  .calH{
    background-color: black;
    height: 10%;
    margin-left: 78px;
    color: white;
  }

  .divCale{
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background:grey;
  }

  #calendarI{
    margin-right: 15px;
  }

  .regIH{
    background-color: #000;
    width: 100%;
    height: 20%;

    text-align: center;
    color: white;
  }

  #Tabla{
    color: black;
    align-items: center;
    margin-top: 50px;
    margin-left: 400px;
    font-size:x-large;
    text-align: center;
    text-align: justify;
    overflow: scroll;
    width: 1200px;
  }

  #Tabla input{
    height: 40px;
    align-items: center;
    align-content: center;
  }

  #Tabla td,th {
    text-align: center;
    vertical-align: middle;
  }
  
  .txtArea{
    text-align: center;
  }

  .estados option{
    text-align: center ;
  }

  #suplenciaCheck {
    width: 25px;
  }

  #btt {
    margin-left: 800px;
  }

  #bt2 {
    margin-left: 50px;
  }

  .selectName{
    text-align: center;
  }

  #selClient{
    text-align: center;
  }

  #estateTable{
    margin-top: 50px;
    margin-left: 630px;

    width: 90px;
  }

  #estateTable thead {
      font-weight: 100;
  }


@-ms-viewport{
  width: device-width;
}
