.App {
    text-align: center;
  }
  
  .Calendario {
    margin-top: -280px;
    background-color: rgb(212,212,212);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
  .containerCal{
    margin-top: 15px;
    margin-left: 90px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;
    height: 750px;
    width: 1688px;
  }
  .App-link {
    color: #61dafb;
  }

  .Cal{
      margin-top: 50px;
      margin-left: 250px;
      border-color: lawngreen;
      
  }

  #he{
      margin-top: 50px;
      text-align: center;
  }

  #txtcal{
    color: white;
  }


  .Calendario .Cal_Container_root{
    margin-top: 100px;
   
  }

  .modal-container{
    text-align: center;
    align-items: center;
  }

  .calH{
    background-color: black;
    height: 165px;
    width: 1800px;
    margin-top: -40px;
    margin-left: 78px;
    color: white;
  }

  .divCale{
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background:grey;
  }

  #calendarI{
    margin-right: 15px;
  }
/* 
  #headertab{
    position: fixed;
    top: 170px;
    width: 100%;
    padding: 15px 20px;

    font-size: 20px;
  } */










  /* .table-fixed thead,
  .table-fixed tfoot{
    width: 97%;
  }
  
  .table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
  } */