
/* 
  html, body, div, iframe { 
    margin:0; 
    padding:0; 
    height:100%; 
    width: 100%;
    height: 100%;
    }  */
  
    .header-client {

      background-color: rgb(212, 212, 212);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: black;
      font-style: oblique;
    }
    
    .App-link {
      color: #61dafb;
    }
    
    .Datos{
      margin-top: 15px;
      margin-left: 10vh;
      text-align: center;
      color: black;
      background-color: white;
      width: 90%;
      height: 80vh;
      border-radius: 5px;
  
  
    }
    
    .Datos label{
         
      color: black;
    }
    
    .dth{  
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    }
    
    .h{
      margin-bottom: 40px;
    }
  
    #btn1{
      margin-left: 30px;
    }
  
    .Descanso{
      margin-left: 0px;
    }
  
    .Datos select{
      min-width: 320px;
      border-width: 3px;
      text-align: center  ;
      border-radius: 5px;
      border-color: #ced4da;
    }
  
    .modal-container{
      text-align: center;
      align-items: center;
    }
  
    .Datos input{
      display: inline;
      border-width: 3px;
      width: 300px;
      text-align: center;

    /*
      width:300px;
    */
    }

    .horInput input{
      width: 5%;
    }
  
    .one{
      position: absolute;
      margin-left: 475px;
      margin-top: 100px;
    }
    
    .second{
      margin-left: 475px;
      margin-top: 100px;
    }
  
    .Usuario{
      color: white;
    }
  
    #alta {
      margin-bottom: 3%;
    }
  

  
    .altaH{
      background-color: black;
      width: 100%;
      margin-left: 78px;
      color: white;
    }
  
    .DC{
      margin-top: 50px;
      font-family: sans-serif;
    }
  
    .InP{
      color: grey;
      margin-left: -400px;
    }
  
    #peopleI{
      margin-right: 15px;
    }
  
  
    #hrta{  
      width: 50px;
      font-size:x-large;
      margin-right: 5px;
    }
  
    #hrtb{
      width: 50px;
      font-size:x-large;
      margin-left: 5px;
    }
  
    .diass{
      margin-top: 30px;
      margin-right: 300px;
      text-align: center;
      align-items: center;
    }
  
    .diass input[type=checkbox]{
      transform: scale(1.2);
      width: 20px;
      height: 20px;
      }
  
  .diass input {
    margin-left: 10px;
  }
  
    .lun{
      margin-right: 850px;
    }
  
    .mart{
      margin-right: 520px;
      margin-top: -100px;
    }
  
    .mierc{
      margin-right: 130px;
      margin-top: -100px;
    }
  
    .mierc input{
      margin-left: -00px;
    }
  
    .juev{
      margin-right: -250px;
      margin-top: -100px;
    }
  
    .juev input{
      margin-left: -0px;
    }
  
    .vier{
      margin-right: -600px;
      margin-top: -100px;
    }
  
    .vier input{
      margin-left: -0px;
    }
  
    .sab{
      margin-right: -950px;
      margin-top: -100px;
    }
  
    .sab input{
      margin-left: -0px;
    }
  
    .dom{
      margin-right: -1350px;
      margin-top: -100px;
    }
  
    .dom input{
      margin-left: -0px;
    }
  
    #dil{
      margin-top: 40px;
    }
  
    .datosHC{
      margin-top: 4vh;
      margin-left: 3vh;
      display: -webkit-box;
    }
  

    
    /* .SideOlgaa{
      margin-top: 700px;
      position: absolute;
    } */

    .asginacion1{
      display: inline-block;
    }

    .asginacion2{
      display: inline-block;
    }

    .asigTurnos{
      margin-left: 50vh;
      margin-top: -33vh;
    }