.bodyLogin{
  background-color: rgb(212,212,212);
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: black;
  font-style: oblique;
  position: fixed;
  width: 100%;
  height: 100%;
}

.modal-login{
    text-align: center;
}

.bodyLogin input{
    text-align: center;
}

#LogHeader{
    margin-top: 150px;
}

.inicioS{
    width: 100%;
    background-color: black;
    height: 90px;
    color: white;
    text-align: center;
    font-style: oblique;
    font-size: 2.5 rem;
    
}

#InS{
    margin-top: 45px;
    
}

#inIcon{
    margin-right: 30px;
}

.containerLogin{
    margin-top: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    height: 80%;

}

.containerLogin input{
    width: 250px;
    align-self: center;

}

#ingresar{
    width: 150px;

}