.App {
  text-align: center;
}

.Usuario {

  background-color: rgb(212,212,212);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-style: oblique;
  position: fixed;
  height: 100%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.Datoss{
  margin-top: 20px;
  color: black;
  background-color: white;
  border-radius: 5px;
  margin-left: 90px;
  width: 75%;
  height: 85vh;
}

.Datoss label{
  margin-top: 30px;
  display: inline;
  text-align: center;
}

.dt{  
text-align: center;
}

.horInput input{
  width: 10%;
}


#btn2{
  margin-left: 30px;
}

.Datoss {
  text-align: center;
  align-items: center;
}

#slc {
  min-width: 300px;
}

#inputdis{
  width: auto;
}
.Datoss input{
  transform: scale(1.1);
  border-width: 3px;

  text-align: center;
  display: inline;
}

.Datoss select{
  min-width: 320px;
  text-align: center  ;
  border-radius: 5px;
  border-color: #ced4da;
}

.oneAP{
  margin-top: 3%;
  margin-left: 5%;
  flex-direction: column;
  position: fixed;
}

.oneAP input{
  vertical-align: middle;
}

.oneAP label{

}

.secondAP{
  position: static;
  margin-top: 1%;
  margin-left: 40%;

}

.secondAP input{

  margin-top: -350px;
}

/* .Datos input:focus:invalid{
  background-image: linear-gradient(red,red);
}

.Datos input:focus:valid{
  background-image: linear-gradient(green,green);
} */
#dej{

  margin-top: -65px;

}
.altaCH{
  height: 10%;
  width: 100%;
  align-self:baseline;
  background-color: black;
  margin-left: 78px;
  color: white;
}

#celI{

}

#guardarP{
  margin-top: 2%  ;
  margin-bottom: 5%;
}

.adminSide{
  position: sticky;
  align-self: baseline;
}

#gen{
  margin-top: 20px;

}

.listClient{
  text-align: center;
  background-color: white;
}

.listClient select{
  text-align: center;
}

.altaOpCl{
  background-color: black;
  width: 100%;
  color: white;
  text-align: center;
  height: 5vh;
}

.btnPersonalGroup{
  display: inline-block;
}