.bodyReport{
    width: 100%;
    height: 100%;
    position: fixed;
    color: black;
    text-align: center;
    overflow: scroll;
}


.reportHeader{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}   

.bodyReport table{
    margin: auto;
    overflow: scroll;
    vertical-align: middle;
}

.scrollTab{
    overflow: scroll;
    width: 80%;
    height: auto;
}

.infiniteQuincena{
    margin-top: 5%;
    margin-left: 20%;
}

.calQuincenaHeader {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

#justTable{
    overflow: scroll;
    width: 80%;
    height: auto;
}

.btnQuincena{
    margin-left: 2%;
    display: inline;
}