.App {
    text-align: center;
  }
  
  .reasignacion {
    background-color: rgb(212,212,212);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    font-style: oblique;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
 .reasignacion select{
    min-width: 320px;
    border-width: 3px;
    text-align: center  ;
    border-radius: 5px;
    border-color: #ced4da;
  }



.reasignacion input{
  text-align: center;
  width: 20%;
  display: inline;
}
 
.container{
  margin-top: 15px;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 70%;
  height: 80%;
}

.roH{

  background-color: black;
  width: 100%;
  margin-left: 78px;
  color: white;
  text-align: center;
}



#rfcL{
  margin-top: 70px;
}

#ri{
  margin-right: 15px;
}

