.Registro {
    text-align: center;
}

.Background {
    margin-top: -347px;
    background-color: rgb(212,212,212);
    min-height: 107vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    
    
  }

#Tabla{
    color: black;
    align-items: center;
    margin-top: 110px;
    margin-left: 400px;
    font-size:x-large;
    text-align: center;
    text-align: justify;
    overflow: scroll;
    width: 1200px;
}

#td{
    align-content: center;
}

#Tabla td{
    align-items: center;
    text-align: center;
}

#btt{
    width: 120px;
    height: 50px;
    margin-top: 30px;
    margin-left: 100px;
}

#bt2{
    width: auto;
    height: 50px;
    margin-top: 30px;
    margin-left: 80px;    
}


#Tabla input{
    width: 20px;
    height: 20px;
    align-items: center;
    
}

#head{
    color: white;
    text-align: center;
    margin-bottom: 80px;
    margin-left: 0px;
    margin-top: 105px;
    font-style: oblique;
}

.nav{
    color: black;
}

#Tabla th{
    width: 200px;
    text-align: center;
}  

.Background p{
    color:#000;
    text-align: center;
}

#Tabla select{
    width: auto;
    height: 40px;
    font-size: x-large;
}


#Tabla textarea{
    margin-top: 3px;
    width: 170px;
    height: 50px;
    font-size: medium;
    text-align: center;
    resize: none;
}



.scroll{
    margin-left: -300px;
    margin-top: -60px;
    
}

.tab{
    margin-top: 15px;
    margin-left: 90px;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 5px;
    width: 1388px;
}

.regIH{
    background-color: black;
    height: auto;
    width: 1800px;
    margin-left: 78px;
    color: white;
    /* position: absolute;
    margin-top: -808px;
    z-index: 2; */
}

#calendarX{
    margin-right: 15px;
}



/* .tab table thead th .text{
    position: absolute;
    z-index: 2;
  }

  .test {
    position: relative;
    
  }

  .scroll{
    overflow: auto;
    height: 750px;
    margin-top: -40px;
  } 

  .test table {
    width: 100%;
  } */

