.bodyReportGB{
    color: black;
    background-color: white;
}

.reporteGH{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.tabReportGB{
    width: 100%;
    overflow: scroll;
    height: 100vh;
}

.bodyReportGB{
    width: 100%;
    height: 100%;
    position: fixed;
    color: black;
    text-align: center;

}

.bodyReportGB table{
    width: 80%;
    margin: auto;
    vertical-align: middle;
    height: auto;
}

.cgHeader{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.bodyReportGB table thead{
    position: sticky;
    top: 0;
}